<div data-role="header" data-id="primary-header" data-position="fixed">
    <a href="#/launchpad" data-icon="arrow-l">Back</a>
    <h1>Promise & Law</h1>
</div>

<div data-role="content">
    <div class="promise"><%= sectionData.Promise %></div>
    <div class="law" style="display: none;"><%= sectionData.Law %></div>
</div>

<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a class="promise" data-role="button" class="ui-btn-active">Promise</a></li>
            <li><a class="law" data-role="button">Law</a></li>
        </ul>
    </div>

</div>