<div data-role="header" data-id="primary-header" data-position="fixed">
    <a id="logout-button" href="/logout" data-icon="delete" data-iconpos="notext">Exit</a>
    <h1>Attendance</h1>
</div>

<div data-role="content" style="margin-top: 0px; padding-top: 0px">

    <a href="#/members" style="text-align: left;" data-role="button" data-icon="arrow-r" data-iconpos="right">Member Details</a>

    <a href="#/inspection" style="text-align: left;" data-role="button" data-icon="arrow-r" data-iconpos="right">Perform Inspection</a>

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Analytics</li>
        <li><a>Top Attendance</a></li>
        <li><a>Top Inspection Points</a></li>
    </ul>

</div>