<div data-role="header" data-id="primary-header" data-position="fixed">
    <a id="logout-button" href="/logout" data-icon="delete" data-iconpos="notext">Exit</a>
    <h1>iScout</h1>
</div>

<div data-role="content" id="launchpad-content">

    <div class="ui-grid-b">
        <div class="ui-block-a">
            <div class="launchpad-button-holder">
                <a href="#/members/view" class="launchpad-button launchpad-member-list-button"><span class="launchpad-button-text">Member List</span></a>
            </div>
        </div>
        <div class="ui-block-b">
            <div class="launchpad-button-holder">
                <a href="#/promiseLaw/Scouts" class="launchpad-button launchpad-promise-button"><span class="launchpad-button-text">Promise &amp; Law</span></a>
            </div>
        </div>
        <div class="ui-block-c">
            <div class="launchpad-button-holder">
                <a href="" class="launchpad-button launchpad-add-activity-button"><span class="launchpad-button-text">Add Activity</span></a>
            </div>
        </div>
    </div>
    <div class="ui-grid-b">
        <div class="ui-block-a">
            <div class="launchpad-button-holder">
                <a href="#/badgeLibrary/Scouts" class="launchpad-button launchpad-badge-library-button"><span class="launchpad-button-text">Badge Library</span></a>
            </div>
        </div>
        <div class="ui-block-b">
            <div class="launchpad-button-holder">
                <a href="" class="launchpad-button launchpad-attendance-button"><span class="launchpad-button-text">Attendance</span></a>
            </div>
        </div>
        <div class="ui-block-c">
            <div class="launchpad-button-holder">
                <a href="" class="launchpad-button launchpad-payments-button"><span class="launchpad-button-text">Payments</span></a>
            </div>
        </div>
    </div>
    <div class="ui-grid-b">
        <div class="ui-block-a">
            <div class="launchpad-button-holder">
                <a href="" class="launchpad-button launchpad-points-button"><span class="launchpad-button-text">Points</span></a>
            </div>
        </div>
        <!--
        <div class="ui-block-b">
            <div class="launchpad-button-holder">
                <a href="pages/options/index.html" class="launchpad-button launchpad-change-section-button"><span class="launchpad-button-text">Switch Section</span></a>
            </div>
        </div>
        -->
    </div>

</div>